#board{
	max-width: 640px;
	min-width: 320px;
	width: 100%;
	margin: auto;
}

.square{
	width: 30%;
	padding: 30px 0;
	margin-top: 2px;
	box-sizing: border-box;
	font-size: 80px;
	border: 1px solid black;
	border-radius: 30%;
	background-color: #777;
}

.square:hover{
	border: 1px outset #1e41ed;
	background-color: #aaa;
	color: black;
	border-radius: 35%;
}

.ease{
	transition: all .3s linear;
}

.winning-square{
	background-color: teal !important;
	color: red !important;
}

.lower-button{
	margin-top: 10px;
}

